body {
  width: 85%;
  margin: 0 auto 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
}

section h2 {
  background-color: #000;
  color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  margin: -1em -1em 1em -0.75em;
  padding: 0.5em 0.5em 0.5em 1em;
}

h3 {
  margin-top: 2em;
}

article {
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

article > section {
  padding: 1em;
  border: 1px solid #000;
  border-right: 0;
  width: 45%;
  justify-content: center;
  align-items: stretch;
}

article > section:nth-child(2n) {
  border-right: 1px solid #000;
}

@media only screen and (max-width: 800px) {
  article {
    flex-direction: column;
  }

  article > section {
    border: 1px solid #000;
    width: 100%;
  }
}


